<div class="container">
    <h1 class="m-3">Bienvenue sur Rétrotro !</h1>
    <h2 class="m-3">Vous n'avez pas encore vu toutes les lieux rétro autour de vous ?</h2>
    <h2 class="m-3">Découvrez les juste ici !</h2>
    <%= link_to 'Voir tous les lieux', index_path(@index), class: "button btn btn-primary btn-lg text-center rounded-1 border-1 m-4" %>
</div>
