<h1>Bienvenue sur Rétrotro !</h1>
<h2>Vous n'avez pas encore vu toutes les lieux rétro autour de vous ?</h2>
<h2>Découvrez les juste ici !</h2>
<a class=orange href = "../places">Voir tous les lieux</a>
