<h1> Bienvenue sur Rétrotro ! </h1>

<h2> Cliquez ici pour consulter les lieux Rétro autour de vous </h2>
<a href = "../places" class = button> Tous les lieux  </a>
<h3> Que ce soit des friperies, des dépôts ventes, des disquaires ou 
de simples lieux provenant d'un autre temps, il y en a pour tous les goûts ! </h3>
<h4>Cliquez ici pour consulter la page des utilisateurs</h4>
<a href = "../users" class = button> Utilisateurs </a>
