<nav class="header nav nav-pills border-bottom justify-content-between">
  <%= link_to image_tag('https://i.ibb.co/cQt6L42/logo-done.png', width:"100", height:"100", class:"logo ms-3 ms-sm-4"), home_path(@home)%>
  
  <%= link_to 'Lieux', index_path(@index), class: "place button btn btn-primary btn-lg text-center rounded-1 border-1 me-4 me-sm-5 ms-2 mt-4 mb-2" %>
</nav>