<nav class="nav nav-pills border-bottom">
  <%= link_to 'Rétrotro', home_path(@home), class: "button btn btn-primary btn-lg text-center rounded-1 border-1 m-4" %>
  <%= link_to 'Lieux', index_path(@index), class: "button btn btn-primary btn-lg text-center rounded-1 border-1 m-4" %>
</nav>