<a href = "../">Rétrotro</a>

<p style="color: green"><%= notice %></p>

<h1 class=orange>Places</h1>

<div class="container">
  <div class="row" id="places">
    <% @places.each do |place| %>
      <%= render place %>
    <% end %>
  </div>
</div>

<%= link_to "New place", new_place_path, class:"button" %>
